.whiteButton{
    overflow: hidden; padding: 15px 15px; margin: 10px; transition: .1s;

    color: #ffffff; background-color: #ffffff10; text-transform: uppercase; text-decoration: none; font-size: 20px; letter-spacing: 2px; font-weight: lighter;

    border-color: #ffffff52; border-width: 1px; border-style: solid; border-radius: 100px; /*border-left: 0; border-right: 0;*/
}

.whiteButton:hover{
    background: #ffffff;
    color: #050801;
    box-shadow: 0px 9px 30px #ffffff4d;
    font-weight: bolder;
    border-width: 1px;
    font-size: 25px;
}

/* RED */
.redButton{
    overflow: hidden; padding: 15px 15px; margin: 10px; transition: .1s;

    color: #ff3636; background-color: #ffffff10; text-transform: uppercase; text-decoration: none; font-size: 20px; letter-spacing: 2px; font-weight: lighter;

    border-color: #ffffff52; border-width: 1px; border-style: solid; border-radius: 100px; /*border-left: 0; border-right: 0;*/
}

.redButton:hover{
    background: #ff3636;
    color: #050801;
    box-shadow: 0px 9px 30px #ff36364d;
    font-weight: bolder;
    border-width: 1px;
    border-color: #ff7373;
    font-size: 25px;
}

/* ORANGE */
.orangeButton{
    overflow: hidden; padding: 15px 15px; margin: 10px; transition: .1s;

    color: #ff9640; background-color: #ffffff10; text-transform: uppercase; text-decoration: none; font-size: 20px; letter-spacing: 2px; font-weight: lighter;

    border-color: #ffffff52; border-width: 1px; border-style: solid; border-radius: 100px; /*border-left: 0; border-right: 0;*/
}

.orangeButton:hover{
    background: #ff9640;
    color: #050801;
    box-shadow: 0px 9px 30px #ff96404d;
    font-weight: bolder;
    border-width: 1px;
    border-color: #ffb375;
    font-size: 25px;
}

/* YELLOW */
.yellowButton{
    overflow: hidden; padding: 15px 15px; margin: 10px; transition: .1s;

    color: #ffc340; background-color: #ffffff10; text-transform: uppercase; text-decoration: none; font-size: 20px; letter-spacing: 2px; font-weight: lighter;

    border-color: #ffffff52; border-width: 1px; border-style: solid; border-radius: 100px; /*border-left: 0; border-right: 0;*/
}

.yellowButton:hover{
    background: #ffc340;
    color: #050801;
    box-shadow: 0px 9px 30px #ffc3404d;
    font-weight: bolder;
    border-width: 1px;
    border-color: #ffd67d;
    font-size: 25px;
}

/* GREEN */
.greenButton{
    overflow: hidden; padding: 15px 15px; margin: 10px; transition: .1s;

    color: #40ff40; background-color: #ffffff10; text-transform: uppercase; text-decoration: none; font-size: 20px; letter-spacing: 2px; font-weight: lighter;

    border-color: #ffffff52; border-width: 1px; border-style: solid; border-radius: 100px; /*border-left: 0; border-right: 0;*/
}

.greenButton:hover{
    background: #40ff40;
    color: #050801;
    box-shadow: 0px 9px 30px #40ff404d;
    font-weight: bolder;
    border-width: 1px;
    border-color: #75ff75;
    font-size: 25px;
}

/* BLUE */
.blueButton{
    overflow: hidden; padding: 15px 15px; margin: 10px; transition: .1s;

    color: #4083ff; background-color: #ffffff10; text-transform: uppercase; text-decoration: none; font-size: 20px; letter-spacing: 2px; font-weight: lighter;

    border-color: #ffffff52; border-width: 1px; border-style: solid; border-radius: 100px; /*border-left: 0; border-right: 0;*/
}

.blueButton:hover{
    background: #4083ff;
    color: #050801;
    box-shadow: 0px 9px 30px #4083ff4d;
    font-weight: bolder;
    border-width: 1px;
    border-color: #78a7ff;
    font-size: 25px;
}

/* VIOLET */
.violetButton{
    overflow: hidden; padding: 15px 15px; margin: 10px; transition: .1s;

    color: #9340ff; background-color: #ffffff10; text-transform: uppercase; text-decoration: none; font-size: 20px; letter-spacing: 2px; font-weight: lighter;

    border-color: #ffffff52; border-width: 1px; border-style: solid; border-radius: 100px; /*border-left: 0; border-right: 0;*/
}

.violetButton:hover{
    background: #9340ff;
    color: #050801;
    box-shadow: 0px 9px 30px #9340ff4d;
    font-weight: bolder;
    border-width: 1px;
    border-color: #af72ff;
    font-size: 25px;
}

/* PINK */
.pinkButton{
    overflow: hidden; padding: 15px 15px; margin: 10px; transition: .1s;

    color: #ff40b6; background-color: #ffffff10; text-transform: uppercase; text-decoration: none; font-size: 20px; letter-spacing: 2px; font-weight: lighter;

    border-color: #ffffff52; border-width: 1px; border-style: solid; border-radius: 100px; /*border-left: 0; border-right: 0;*/
}

.pinkButton:hover{
    background: #ff40b6;
    color: #050801;
    box-shadow: 0px 9px 30px #ff40b64d;
    font-weight: bolder;
    border-width: 1px;
    border-color: #ff71c9;
    font-size: 25px;
}