@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

html {
    overflow: hidden;
    background: radial-gradient(ellipse at bottom, #1b2735 0%,#090a0f 100%);
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    
    position: sticky;
    height: 100vh;
    background-color: #050801;
    font-family: 'Quicksand', sans-serif;
    overflow: hidden;
}

.bgVideo {
    object-fit: cover;
    width: 100vw; height: 100vh; height: 100svh;
    position: fixed;
    filter: blur(8px) brightness(70%);
    pointer-events: none;
    z-index:-1;
}

.search-bar{
    display: flex;
    justify-self: center;
    align-self: center;
    width: 250px; overflow: hidden; padding: 10px 10px; margin: 10px; transition: .1s;

    color: #ffffff; font-size: 13px; background-color: #ffffff10; font-family: 'Quicksand', sans-serif; text-align: center;

    border-color: #ffffff7e; border-width: 1px; border-style: solid; border-radius: 100px; /*border-left: 0; border-right: 0;*/
}

.search-bar:hover{
    color: #ffffff;
    background-color: #ffffff3b;
    box-shadow: 0px 9px 30px #ffffff4d;
    font-size: 15px;
    border-width: 2px;
}

::placeholder{
    color: white;
}
